/output
/demos/*/lib*
**/.DS_Store
/demos/*/bin
/demos/*/mx*
/demos/*/out*
/demos/*/seeds_validcp
/demos/*/seeds_invalidcp
/demos/*/_mirror
/demos/*/_build_*.log
/extras/AFLplusplus
/extras/llvm.sh
/extras/multiplier
src/__pycache__
